@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

header,
main,
footer {
  max-width: 680px;
  margin: 0 auto;
}

body {
  font: 17px / 1.72 'Lora';
  color: #13291e;
  background: #e3f2fa;
}

blockquote {
  font-size: 1.44rem;
}

blockquote cite {
  display: block;
  text-align: right;
  font-size: 1.2rem;
}

header {
  text-align: center;
}

nav a:not(:last-of-type) {
  margin-right: 12px;
}

table,
th,
td {
  border: 1px solid gray;
}

th,
td {
  padding: 0 4px;
}

th:not(:first-of-type),
td:not(:first-of-type) {
  text-align: center;
}

table {
  border-collapse: collapse;
}

@media (min-width: 1100px) {
  header {
    text-align: left;
    position: fixed;
    top: 62px;
    left: 30px;
  }

  nav a {
    display: block;
    margin-bottom: 6px;
  }

  nav a:not(:last-of-type) {
    margin-right: 0;
  }

  main {
    margin-top: 80px;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

a {
  color: inherit;
}

a:hover,
a:focus,
summary:hover,
summary:focus {
  color: #017839;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 0.5rem;
  line-height: 1.15;
}

h1 {
  font-size: 2.07rem;
}

h2 {
  font-size: 1.73rem;
}

h3 {
  font-size: 1.44rem;
}

h4 {
  font-size: 1.2rem;
}

li {
  margin-bottom: 6px;
}

del {
  opacity: .8;
  color: #c00;
}

summary {
  cursor: pointer;
}

details li {
  margin-bottom: 0;
}

img + small,
img + br + small {
  display: block;
  text-align: center;
  margin-top: -4px;
  opacity: .8;
}
