@import './highlight.css';
@import './littlefoot.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: .1px;
}

h1 {
  @apply font-semibold;
}

h2,
h3,
h4,
h5 {
  @apply font-semibold mt-6 mb-3;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-lg;
}

p {
  @apply my-3;
}

article a,
main a {
  @apply border-b border-dotted border-current;
}

article a:hover,
main a:hover {
  @apply bg-yellow-200;
}

article ul {
  @apply list-disc pl-6;
}

article ol {
  @apply list-decimal pl-6;
}

pre,
code {
  @apply bg-gray-100 text-sm;
  overflow: auto;
}

pre {
  @apply p-2;
}

*:not(pre) code {
  padding: 2px;
}

.footnotes-sep {
  display: none;
}

figcaption {
  @apply text-xs text-gray-500 text-center mb-6;
}

.essay p,
.essay ol,
.essay ul,
.essay blockquote {
  @apply font-serif;
}

.essay .littlefoot-footnote__host * {
  @apply font-sans;
}
