@import './highlight.css';
@import './littlefoot.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: .1px;
}

h1 {
  @apply font-display font-medium;
}

h2,
h3,
h4,
h5 {
  @apply font-semibold mt-6 mb-3;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-lg;
}

p {
  @apply my-3;
}

article a,
main a {
  @apply border-b border-dotted border-current;
  padding: 0 1px;
}

article a:hover,
main a:hover {
  @apply bg-red-50;
}

article ul {
  @apply list-disc pl-6;
}

article ol {
  @apply list-decimal pl-6;
}

footer a::before {
  @apply block absolute;
}

footer a[rel="next"] {
  @apply text-right;
}

footer a[rel="previous"]::before {
  content: '←';
  left: 3px;
}

footer a[rel="next"]::before {
  content: '→';
  right: 3px;
}

pre,
code {
  @apply bg-gray-100 text-sm;
  overflow: auto;
}

pre {
  @apply p-2;
}

*:not(pre) code {
  padding: 2px;
}

.footnotes-sep {
  display: none;
}

figcaption {
  @apply text-xs text-gray-500 text-center mb-6;
}

blockquote {
  @apply font-serif text-lg text-gray-900 bg-red-50 pl-6 py-4 pr-2 border-l-4 border-red-500;
}

cite {
  @apply opacity-50;
}

strong,
b {
  font-weight: 600;
}

.essay p,
.essay ol,
.essay ul {
  @apply font-serif;
}

.essay .littlefoot-footnote__host * {
  @apply font-sans;
}
