---
layout: layouts/base.njk
---
{% for post in collections.posts | reverse %}
<div class="mb-2">
  <a
    href="{{ post.url }}"
    class="
      block my-4 border-none
      hover:text-purple-600 hover:bg-transparent transition-colors duration-500
    "
  >
    <time class="text-sm text-gray-400">
      {{ post.data.date.toUTCString() | date('MMM D, YYYY') }}
    </time>
    <br />
    <span class="font-medium text-lg">
      {{ post.data.title }}
    </span>
  </a>
</div>
{% endfor %}
