---
layout: layouts/base.njk
---
{% for page in collections.cheatsheets %}
<div class="mb-2">
  <a
    href="{{ page.url }}"
    class="
      block my-4 border-none
      hover:text-purple-600 hover:bg-transparent transition-colors duration-500
    "
  >
    <span class="font-medium">
      {{ page.data.title }}
    </span>
  </a>
</div>
{% endfor %}

<div class="mb-2">
  <a
    href="https://flex.eszter.space"
    target="_blank"
    rel="noopener noreferrer"
    class="
      block my-4 border-none
      hover:text-purple-600 hover:bg-transparent transition-colors duration-500
    "
  >
    <span class="font-medium">
      📦 Flexbox
    </span>
  </a>
