---
layout: layouts/base.njk
---

<h1>Cheat sheets</h1>
<br />

{% for page in collections.cheatsheets %}
<p style="margin: 9px 0 0">
  <a href="{{ page.url }}">
    {{ page.data.title }}
  </a>
</p>
{% endfor %}

<p style="margin: 9px 0 0">
  <a
    href="https://flex.eszter.space"
    target="_blank"
    rel="noopener noreferrer"
  >
    Flexbox 📦
  </a>
</p>

<br />
<br />
<br />
