---
layout: layouts/page.njk
---
<h2 style="margin-bottom: 24px;">Latest articles 👉</h2>

{% set posts = collections.posts | reverse | slice(collections.posts.length / 3) | first %}
{% for post in posts %}
<div style="margin-top: 8px;">
  <a href="{{ post.url }}" style="text-decoration: none;">
    <span style="font-size: 1.3rem;">
      {{ post.data.title }}
    </span>
    <em>
      — {{ post.data.date.toUTCString() | date('MMM D, YYYY') }}
    </em>
  </a>
</div>
{% endfor %}
<br />
<p>
<a href="/articles">More articles →</a>
</p>
<br />

<hr />

<h2>About me</h2>

<p>
  I’m Eszter, a frontend developer based in Berlin. I believe that form follows function, fast is accessible, and simple is beautiful. I’m vegan <a href="https://samu.space/etc/vegan/" rel="noopener noreferrer" target="_blank">and you should try it too</a>. 🌱
</p>
<p>
  Say hi at <em>ekov</em> at <em>pm.me</em>.
</p>

<h3>Things I’ve built with my own hands</h3>
{% set builds = [
  {
    name: 'Keeb.io Iris',
    url: '/keeb'
  },
  {
    name: 'Lily58',
    url: '/lily58'
  }
] %}

<ol>
  {% for project in builds %}
    <li style="margin-bottom: 8px;">
      <a href="{{ project.url }}">{{ project.name }}</a> {{ project.description }}
    </li>
  {% endfor %}
</ol>

<h3>Things I’ve built on the web</h3>
{% set projects = [
  {
    name: 'Reusable cup map',
    url: 'https://repoharterkep.hu',
    description: 'is an interactive map of venues that use reusable cups, and what their money return policies are.',
    tech: 'React, Leaflet, Airtable'
  },
  {
    name: 'Comrade Kyiv',
    url: 'https://comradekiev.com',
    description: 'is a friend’s website selling soviet posters and travel.',
    tech: 'Shopify Storefront API, React, Gatsby, GraphQL'
  },
  {
    name: 'Buy responsibly',
    url: 'https://buy-responsibly.vercel.app',
    description: 'is a simple tool to help make more sustainable buying decisions.',
    tech: 'HTML, CSS, JavaScript'
  },
  {
    name: 'Medict',
    url: 'https://medict.eszter.space',
    description: 'is a dictionary using the Merriam-Webster API, with medical term search.',
    tech: 'React, TypeScript, Ant Design'
  },
  {
    name: 'eleventy-starter-typescript',
    url: 'https://github.com/eszterkv/eleventy-starter-typescript',
    description: 'is an unopinionated, minimal 11ty starter with TypeScript templates.',
    tech: 'Eleventy, TypeScript'
  },
  {
    name: 'shopify-nuxt',
    url: 'https://github.com/eszterkv/shopify-nuxt',
    description: 'is a proof-of-concept Shopify store built in Nuxt.',
    tech: 'Nuxt (Vue.js), GraphQL, TailwindCSS, Shopify Storefront API'
  },
  {
    name: 'Flexbox cheat sheet 📦',
    url: 'https://flex.eszter.space',
    description: 'is just what you expect it to be.',
    tech: ''
  }
] %}

<ol>
  {% for project in projects %}
    <li style="margin-bottom: 8px;">
      <a href="{{ project.url }}">{{ project.name }}</a> {{ project.description }}
      {% if project.tech %}
      <br />
      <small>Tech: <em>{{ project.tech }}</em></small>
      {% endif %}
    </li>
  {% endfor %}
</ol>
