---
layout: layouts/base.njk
---
{% for post in collections.posts | reverse %}
<div class="mb-2">
  <a href="{{ post.url }}" class="font-medium text-indigo-700 hover:underline">
    {{ post.data.title }}
  </a>
</div>
{% endfor %}
