pre,
code {
  font: 15px 'Oxygen Mono';
  letter-spacing: 0;
  border-radius: 2px;
  line-height: 1.48;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  scrollbar-width: none;
}

pre {
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;

  @media (min-width: 900px) {
    overflow-x: hidden;
  }

  code {
    padding: 0;
  }
}

code {
  padding: 3px 4px;
}

.token {
  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.namespace {
  opacity: .7;
}
