$light-background: #f6f6f6;
$string-colour: #065;
$keyword-color: #111;
$bool-nr-symbol: #111;
$important: slategrey;
$variable: #2f4550;
$operator: #111;
$fn-class: #a70;
$punctuation: #111;

pre,
code {
  font: 15px 'Oxygen Mono';
  letter-spacing: 0;
  background: $light-background;
  line-height: 1.48;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  scrollbar-width: none;
}

pre {
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;

  @media (min-width: 900px) {
    overflow-x: hidden;
  }

  code {
    padding: 0;
  }
}

code {
  padding: 3px 4px;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: slategray;
  }

  &.punctuation {
    color: $punctuation;
  }

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: $bool-nr-symbol;
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: $string-colour;
  }

  &.operator,
  &.entity,
  &.url {
    color: $operator;
  }

  &.atrule,
  &.attr-value,
  &.keyword {
    color: $keyword-color;
  }

  &.function,
  &.class-name {
    color: $fn-class;
  }

  &.regex,
  &.important,
  &.variable {
    color: $variable;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.namespace {
  opacity: .7;
}
