@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

$primary: #111;
$accent: #111;
$light-accent: mistyrose;
$light-background: oldlace;
$sidebar-size: 280px;
$site-width: 1100px;
$titlefont: 'Playfair Display';

body {
  font: 17px 'Helvetica Neue', 'Helvetica', sans-serif;
  letter-spacing: .2px;
  line-height: 1.55;
  margin: 0;
  padding: 20px 20px 90px;
  color: $primary;
  overflow-x: hidden;
}

main {
  padding-top: 65px;
  padding-left: $sidebar-size;
}

em {
  font-family: 'Georgia', serif;
}

.timestamp {
  font-family: $titlefont;
  font-style: italic;
  opacity: .6;
  font-weight: 300;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $accent;
  transition: color .3s ease-out;

  &:hover,
  &:focus {
    color: darken($accent, 20%);
  }
}

pre,
code {
  font: 15px 'Oxygen Mono';
  background: $light-background;
  line-height: 1.48;
}

pre {
  padding: 14px;
}

code {
  padding: 3px 4px;
}

.site {
  min-height: calc(100vh - 110px);
  max-width: $site-width;
  margin: 0 auto;
  padding: 0;
}

.article-list-item {
  margin-bottom: 30px;
}

.article-list-title {
  margin-bottom: 0;
  font-size: 18px;

  a {
    border: none;
  }

  + * {
    margin-top: .33em;
  }
}

.sidebar {
  text-align: right;
  position: sticky;
  float: left;
  top: 20%;
  left: -$sidebar-size;

  a {
    border: none;
  }

  .site-title {
    font-size: 18px;
    margin: -2px 0 20px;
  }

  .nav-list {
    list-style: none;
    padding: 0;

    li {
      line-height: 1.8;
    }
  }
}

$title-offset: 40px;

article {
  max-width: 760px;

  .article-content {
    > p:first-of-type:first-letter {
      font-size: 3.4em;
      float: left;
      position: relative;
      padding-top: 6px;
      margin-right: 3px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 2em;
    }
  }
}

main h1 {
  margin-top: 6px;
  font-size: 60px;
  line-height: 1.2;
  font-family: $titlefont;
}

.article-title {
  border-bottom: 5px solid $primary;
  width: 100vw;
  margin-bottom: 20px;

  h1 {
    max-width: 760px;
    margin-bottom: 30px;
  }
}
