
$primary: #111;
$accent: darkorange;
$sidebar-size-s: 220px;
$sidebar-size: 280px;
$site-width: 1100px;
$titlefont: 'Playfair Display';

.article-list-item {
  margin-bottom: 30px;
}

.article-list-title {
  margin-bottom: 0;
  font: 700 20px $titlefont;

  a {
    border: none;
    color: inherit;
  }

  + * {
    margin-top: .33em;
  }
}
$title-offset: 40px;

hr {
  margin: 2.2em 0 2em;
  border: 0;
  height: 1px;
  background: #999;
}

.footnotes {
  font-size: 90%;

  li {
    margin-bottom: .5em;
  }

  hr {
    display: none;
  }

  p {
    display: inline;
  }
}


.blotter {
  display: none;

  @media (min-width: 900px) {
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 0;
    background: white;
    width: 200%;
    animation: fade-background .6s linear;
    top: -2px;
  }
}

@keyframes fade-background {
  from {
    background: transparent;
  }

  to {
    background: white;
  }
}

.transition-enter {
  opacity: 0;
}

.transition-enter-active {
  opacity: 1;
  transition: opacity .3s ease;
}

.transition-exit {
  opacity: 1;
}

.transition-exit-active {
  opacity: 0;
  transition: opacity .3s ease;
}

del {
  opacity: .8;
}
