{% macro navlink(link, title) %}
  <a
    href="{{ link | url }}"
    style="
      text-decoration: none;
      {% if page.url === link %}
        font-weight: bold
      {% endif %}
    "
  >
    {{ title }}
  </a>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title or "Down the rabbithole – a frontend blog" }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <p>
        <a href="{{ '/' | url }}" style="text-decoration: none; font-variant: small-caps;">
          Down the rabbithole
        </a>
      </p>
      <nav>
        {{ navlink('/', 'Hi 👋') }}
        {{ navlink('/articles/', 'Articles') }}
        {{ navlink('/cheatsheets/', 'Cheat sheets') }}
        {{ navlink('/feed.xml', 'RSS') }}
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <small>
        ~
        <br />
        <a href="https://buymeacoffee.com/eszter" style="text-decoration: none; margin-left: 8px;">
          Buy me (half) a pizza 🍕
        </a>
      </small>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="ZCIDREBO" defer></script>
    <!-- / Fathom -->

    <script
      src="https://unpkg.com/littlefoot/dist/littlefoot.js"
      type="application/javascript"
    ></script>
    <script type="application/javascript">
      littlefoot.littlefoot({
        buttonTemplate: `
          <button
            aria-expanded="false"
            aria-label="Footnote <% number %>"
            class="littlefoot-footnote__button"
            id="<% reference %>"
            title="See Footnote <% number %>"
          />
            <% number %>
          </button>
        `
      })
    </script>
  </body>
</html>
