{% macro navlink(link, title, class) %}
  <a
    href="{{ link | url }}"
    class="
      tracking-wide text-sm
      hover:text-red-600 transition-colors duration-500
      {% if page.url === link %}
        font-semibold
      {% endif %}
      {{ class }}
    "
  >
    {{ title }}
  </a>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title or "Down the rabbithole – a frontend blog" }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-3xl mx-auto pt-6 px-6 lg:pt-12 lg:px-12">
      <header>
        <p class="
          uppercase font-display font-semibold text-base tracking-wider
          hover:text-black mb-3 transition-colors duration-500
        ">
          <a href="{{ '/' | url }}">Down the rabbithole</a>
        </p>
        <nav class="flex mb-6 pb-2 border-b">
          {{ navlink('/', 'Articles', 'mr-4') }}
          {{ navlink('/cheatsheets/', 'Cheatsheets', 'mr-4') }}
          {{ navlink('/about/', 'About', 'mr-4') }}
          {{ navlink('/feed.xml', 'RSS', 'ml-auto' ) }}
        </nav>
      </header>

      <main>
        {{ content | safe }}
      </main>

      <footer></footer>

      <!-- Current page: {{ page.url | url }} -->
    </div>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
          a[h]=a[h]||function(){
              (a[h].q=a[h].q||[]).push(arguments)
          };
          o=f.createElement('script'),
          m=f.getElementsByTagName('script')[0];
          o.async=1; o.src=t; o.id='fathom-script';
          m.parentNode.insertBefore(o,m)
      })(document, window, '//stats.eszter.space/tracker.js', 'fathom');
      fathom('set', 'siteId', 'MYEXJ');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
    <script
      src="https://unpkg.com/littlefoot/dist/littlefoot.js"
      type="application/javascript"
    ></script>
    <script type="application/javascript">
      littlefoot.littlefoot({
        buttonTemplate: `
          <button
            aria-expanded="false"
            aria-label="Footnote <% number %>"
            class="littlefoot-footnote__button"
            id="<% reference %>"
            title="See Footnote <% number %>"
          />
            <% number %>
          </button>
        `
      })
    </script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="eszter" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FFDD00" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
