---
layout: layouts/base.njk
---
<article>
  <a href="/cheatsheets/">
    <small class="text-sm opacity-75">
      Back to cheatsheets
    </small>
  </a>
  <h1 class="text-2xl my-6">{{ title }}</h1>

  {{ content | safe }}
</article>
