---
layout: layouts/base.njk
---

{% macro listItem(item) %}
  <div>
    <strong>{{ item.title }}</strong>,
    <em>
      {{ item.author or item.director }}
      {% if item.year %}({{ item.year }}){% endif %}
    </em>
  </div>
{% endmacro %}

{{ content | safe }}

<h3>Some {{ mediaType }} I have enjoyed in the past:</h3>
<ul class="list-page">
  {% for item in items %}
    <li>
      {% if item.link %}
        <a href="{{ item.link | url }}" target="_blank" rel="noopener noreferrer">
          {{ listItem(item) }}
        </a>
      {% else %}
        {{ listItem(item) }}
      {% endif %}

      {% if item.quote %}
        <blockquote>
          {{ item.quote }}
        </blockquote>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<style type="text/css">
.list-page {
  list-style: none;
  padding-left: 0;
}

.list-page li {
  margin-top: 1.5rem;
}

.list-page blockquote {
  font: 1.2rem var(--serif);
  line-height: 1.3;
  position: relative;
  margin-top: .2rem;
}

.list-page blockquote::before {
  position: absolute;
  content: '“';
  font-size: 4rem;
  top: -1.2rem;
  left: -1.1rem;
  color: var(--secondary);
  opacity: .3;
}
</style>
