---
layout: layouts/base.njk
---
{% macro prevNextLink(post) %}
  <a href={{ post.url | url }}>
    {{ post.data.title }}
  </a>
{% endmacro %}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

<article>
  <h1 class="text-2xl mb-6 lg:text-4xl">{{ title }}</h1>
  {{ content | safe }}

  <footer>
    <hr class="my-6" />
    <ul>
      {%- if previousPost %}
        <li>Previous: {{ prevNextLink(previousPost) }}</li>
      {% endif %}
      {%- if nextPost %}
        <li>Next: {{ prevNextLink(nextPost) }}</li>
      {% endif %}
    </ul>
  </footer>
</article>
