---
layout: layouts/base.njk
---
{% macro prevNextLink(post, type) %}
<em>
  <a
    href="{{ post.url | url }}"
    rel="{{ type }}"
  >
    {{ post.data.title }}
  </a>
</em>
{% endmacro %}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}

<head>
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="/css/littlefoot.css">
</head>

<article>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>

<div>
  {%- if previousPost %}
    Previous: {{ prevNextLink(previousPost, 'previous') }}
  {% endif %}
  <br />
  {%- if nextPost %}
    Next: {{ prevNextLink(nextPost, 'next') }}
  {% endif %}
</div>
