<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title or metadata.title }}
      {% if title or metadata.title %}
      — 
      {% endif %}
      Eszter’s space
    </title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/littlefoot.css">
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>

    <script
      src="https://unpkg.com/littlefoot/dist/littlefoot.js"
      type="application/javascript"
    ></script>
    <script type="application/javascript">
      littlefoot.littlefoot({
        buttonTemplate: `
          <button
            aria-expanded="false"
            aria-label="Footnote <% number %>"
            class="littlefoot-footnote__button"
            id="<% reference %>"
            title="See Footnote <% number %>"
          />
            <% number %>
          </button>
        `
      })
    </script>
  </body>
</html>
